@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
	/*--color-main: #1a202e;*/
	/*orange template*/
	--color-main: #1a202e;
	--color-toggle: #1d2438;
	--color-active: #f93058;
	--color-hover: #f93058;
	--color-li: rgba(255, 255, 255, 0.7);
	--color-span: #fff;
	--color-content: #f4f7fc;

}

*{
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0.9rem;
}

body, label, header, main, footer{
	padding: 0;
	margin: 0;
}

#sidebar-toggle{
	display: none;
}

.toggle-dropdown{
	display: none;
	transition: 500ms;
}

[role=button-drop]{
	display: none;
}
[role=button-drop]:checked ~ .toggle-dropdown{
	display: block;
	background: var(--color-toggle);
	border-radius: 3px;
}
label .la-angle-down{
	position: absolute;
	right: 1.2rem;
}

.body-label{
	position: fixed;
	height: 100%;
	width: calc(100% - 260px);
	z-index: 30;
	right: -100%;
	top: 0;
}
#sidebar-toggle:checked ~ .sidebar{
	left: -100%;
}
#sidebar-toggle:checked ~ .main-content header{
	left: 0;
	width: 100%;
	right: 0;
}
#sidebar-toggle:checked ~ .main-content{
	margin-left: 0;
}


.sidebar{
	width: 260px;
	position: fixed;
	/*overflow-y: hidden;*/
	left: 0;
	top: 0;
	height: 100%;
	padding: 1rem 1.5rem;
	background: var(--color-main);
	color: #fff;
	z-index: 20;
	transition: left 300ms;
	scrollbar-width: thin;
	overflow-y: scroll;
}

.sidebar:hover {
}

.sidebar-brand{
	height: 70px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
	font-size: 2rem;
	font-weight: bold;
	color: #fc3058;
}

.brand-flex{
/*	display: flex;
	justify-content: space-between;
	align-items: center;*/
}
.brand-icons span{
	font-size: 1.3rem;
	margin-left: .5rem;
}
.sidebar-user{
	margin: 1rem 0rem 1rem 0rem;
	text-align: center;
}
.sidebar-user img{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border-left: 2px solid transparent;
	border-right: 2px solid #efefef;
	border-bottom: 2px solid #efefef;
	border-top: 2px solid #efefef;
}
.sidebar-user h3{
	font-size: 1rem;
}
.sidebar-user span{
	font-size: .8rem;
}
.sidebar-menu{
	margin-top: 1rem;
}
.menu-head{
	text-transform: uppercase;
	color: var(--color-li);
	font-size: .65rem;
	font-weight: 500;
	margin-bottom: .8rem;
	margin-top: 1rem;
}
.menu-head span{
	font-size: .75rem;
}
.sidebar-menu ul{
	margin-bottom: 1.5rem;
}
.sidebar-menu ul.toggle-dropdown{
	margin-bottom: 0;
}
.sidebar-menu li{
	/*margin-bottom: .9rem;*/
}
.sidebar-menu li a{
	color: var(--color-li);
	padding: 10px;
	font-size: .9rem;
	font-weight: 300;
	display: flex;
	align-items: center;
	transition: background 300ms;
}

.sidebar-menu li a:hover{
	background: var(--color-hover);
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
}
.sidebar-menu li a span{
	font-size: 1.5rem;
	display: inline-block;
	margin-right: .8rem;
}
.sidebar-menu li a:hover span{
	color: var(--color-span) !important;
	text-decoration: none;
}


.sidebar-menu li label{
	color: var(--color-li);
	padding: 10px;
	font-size: .9rem;
	font-weight: 300;
	display: flex;
	align-items: center;
	transition: background 300ms;
}
.sidebar-menu li label:hover{
	background: var(--color-hover);
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
}
.sidebar-menu li label span{
	font-size: 1.5rem;
	display: inline-block;
	margin-right: .8rem;
}
.sidebar-menu li label i{
	font-size: 1.2rem;
	display: inline-block;
	position: absolute;
	right: 2rem;
}
.sidebar-menu li label:hover span{
	color: var(--color-span) !important;
}

.active{
	background: var(--color-active);
	border-radius: 3px;
	color: #fff !important;
}
.active span{
	color: var(--color-span);
}

header{
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	/*position: fixed;*/
	left: 260px;
	/*width: calc(100% - 260px);*/
	top: 0;
	z-index: 20;
	background: #fff;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
	transition: left 300ms;
}
.menu-toggle label{
	height: 60px;
	width: 60px;
	display: grid;
	place-items: center;
	font-size: 1.5rem;
	border-radius: 50%;
}
.menu-toggle label span{
	height: 60px;
	width: 60px;
	display: grid;
	place-items: center;
	font-size: 1.4rem;
	border-radius: 50%;
}
.header-icons span{
	display: inline-block;
	margin-left: .7rem;
	font-size: 1.4rem;
}
.menu-toggle label:hover{
	background: #efefef;
	cursor: pointer;
}


.main-content{
	margin-left: 260px;
	transition: margin-left 300ms;
}
main{
	padding: 1.5rem;
	background: var(--color-content);
	min-height: calc(100vh - 70px);
	overflow: hidden;
	/*margin-top: 70px;*/
}
.page-header{
	display: flex;
	justify-content: space-between;
}
.header-actions button{
	outline: none;
	color: #fff;
	background: #fc3058;
	border: none;
	padding: .6rem 1rem;
	margin-left: 1rem;
	border-radius: 3px;
	font-weight: 600;
}

.header-actions button span{
	font-size: 1.2rem;
	margin-right: .6rem;
}
.cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
	margin-top: 2rem;
}
.card-single{
	background: #fff;
	padding: 1rem;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}
.card-flex{
	display: grid;
	grid-template-columns: 70% auto;
	align-items: center;
}
.card-head span{
	display: block;
	text-transform: uppercase;
	color: #555;
	font-size: .9rem;
}
.card-head small{
	font-weight: 600;
	color: #555;
}
.card-info h2{
	font-size: 2.2rem;
	color: #333;
}
.card-chart span{
	font-size: 5rem;
}

.card-chart.success span{
	color: seagreen;
}
.card-chart.danger span{
	color: tomato;
}
.card-chart.yellow span{
	color: orangered;
}
.pagination li{
	/*padding: 7px 15px;*/
	padding: 4px 10px;
	background: transparent;
	border: 1px solid #ddd;
}
.pagination .active{
	background: #2196f3;
	border: 1px solid #2196f3;
	/*color: #fff;*/
}
.pagination a{
	color: #555;
}
.pagination .active a{
	color: #fff;
}

.table>tbody>tr>td {
    vertical-align: middle;
}
@media only screen and (max-width:  1124px){
	.sidebar{
		left: -100%;
		z-index: 30;
	}
	.main-content{
		margin-left: 0;
	}
	header{
		left: 0;
		width: 100%;
	}
	#sidebar-toggle:checked ~ .sidebar{
		left: 0;
	}

	#sidebar-toggle:checked ~ .body-label{
		right: 0;
	}


}


/*custom style*/
.rekap span{
	display: block;
}
.orange-login{
	background: #fb8c00;
	height: 250px;
}
.card{
	margin-bottom: 10px;
}
.t-box{
	/*border: 1px solid #ddd;*/
	padding: 15px;
	height: auto;
	background: #fff;
	border-radius: 3px;
	margin-bottom: 10px;
	box-shadow: 0 .145rem .15rem 0 rgba(98,99,99,.2);
}
.h100{
	/*height: 130px;*/
	min-height: 150px;
}
.h50{
	/*height: 130px;*/
	min-height: 75px;
}
.t-box h3{
	display: inline-block;
	font-weight: bold;
	color: #555;
}
.t-box h5{
	display: block;
}
.t-box h6{
	margin-top: 5px;
	display: block;
	font-size: 0.9em;
	color: #555;
	/*color: #2196f3;*/
}
.t-box span{
	display: inline-block;
	width: 150px;
	/*padding-right: 20px;*/
}
.t-box .w130{
	width: 100px;
	/*padding-right: 20px;*/
}
.t-box .row .col-md-4{
	/*margin-bottom: 20px;*/
}
.form-control, .form-control:focus{
	/*background: transparent;*/
}
.help-block{
	color: red;
}
.nota-online{
	font-size: 0.9em;
	width: 100%;
	padding: 10px;
	/*border-radius: 10px;*/
	background: #fff;
	border: 2px solid #55b5c6;
}

.nota-online table{
	width: 100%;
}

.nota-online table td{
	padding: 3px;
}
input.tiga{
	width: 30% !important;
}
.nota-online input{
	background: transparent;
	border:1px solid #418591;
	width: 100%;
	padding: 5px;
}
.jdl{
	background: #9ae1ed;
	padding: 3px 20px 3px 10px;
	color: #326771;
	border-radius: 0px 0px 50px 0px;
}
.transaksi-form{
	margin: 0 auto;
	background: #fff;
	width: 75%;
	padding: 20px;
}
.bg-abu{
	/*background: #d7dada !important;*/
}
.bg-abu a{
	color: #000;
}
.bg-purple{
	background: #6120da;
	color: #fff;
}
.btn-putih{
	/*background: #222e3c;*/
	background: #aaa;
	color: #fff;
	/*border: 1px solid #ccc;*/
}
/*.content{
	background: #fff;
	background: #f4f7fc;
}*/
.btn-logout{
	display: block;
	width: 100%;
	text-align: left;
	padding-left: 25px;
}
.site-login{
	background: #fff;
	width: 100%;
	padding: 20px;
	/*margin: 20% auto;*/
}
.gelap{
	background: #222e3c;
	height: 400px;
	width: 100%;
}
.menu-index{
	/*border: 1px solid #ddd;*/
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
	border-radius: 3px;
	box-shadow: 0 .145rem .15rem 0 rgba(58,59,69,.2);
}
.menu-index h3{
	margin: 0;
	padding: 0;
}
.b-s{
	display: block;
	padding-top: 10px !important;
}
.b-n:hover{
	background: #ccc;
}
.sethr{
	padding: 0;
	margin: 0;
	background: #aaa;
}
.spasi{
	padding: 10px 0px;
	display: block;
	/*background: red;*/
	height: 10px;
}
.tb-kecil{
	font-size: 0.9em;
	display: block;
}
.label-sys{
	display: block;
	font-weight: bold;
}
.dash{
	height: 150px;
	background: #0a5df3;
	border-radius: 3px;
}
.bg-sys{
	background: #222e3c;
}
.logo-l{
	padding: 20px;
	background: #222e3c;
	margin-top: 30%;
}
.kkn{
	color: #555;
	display: inline-block;
	width: 0px;
}
.prog{
	font-size: 0.9em;
	color: #777;
}
.menuabs{
	border: 2px solid #ddd;
	width: 100%;
	border-radius: 3px;
}
.ilo{
	font-size: 40px;
}
.kecil-kanan{
	font-size: 0.9em;
	float: right;
	text-align: right;
	color: #777;
}
.kecil-kiri{
	float: left;
	color: #777;
}
@media only screen and (max-width: 768px) {
	.prog, .tb-kecil{
		margin-bottom: 10px;
	}
	.transaksi-form{
		width: 100%;
	}
}


ul.timeline-3 {
    list-style-type: none;
    position: relative;
}
ul.timeline-3:before {
    content: ' ';
    background: #fd6415;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 1px;
    height: 100%;
    z-index: 400;
}
ul.timeline-3 > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline-3 > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fd6415;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.timeline-3 a{
	color: #fd6415;
	font-weight: bold;
}
.timeline-3 span{
	display: block;
}


ul.timeline-2 {
    list-style-type: none;
    position: relative;
}
ul.timeline-2:before {
    content: ' ';
    background: #1cbc03;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 1px;
    height: 100%;
    z-index: 400;
}
ul.timeline-2 > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline-2 > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #1cbc03;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.timeline-2 a{
	color: #1cbc03;
	font-weight: bold;
}
.timeline-2 span{
	display: block;
}

ul.timeline-1 {
    list-style-type: none;
    position: relative;
}
ul.timeline-1:before {
    content: ' ';
    background: #2196f3;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 1px;
    height: 100%;
    z-index: 400;
}
ul.timeline-1 > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline-1 > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #2196f3;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.timeline-1 a{
	color: #2196f3;
	font-weight: bold;
}
.timeline-1 span{
	display: block;
}

.bg-orange{
	/*background: #f99a56;*/
}
.hijau{
	color: green !important;
}

.table th a{
	color: #555;
}

.filter-bulan a{
	float: left;
	text-decoration: none;
	padding: 5px 15px;
	color: #000;
	/*width: 25%;*/
	text-align: center;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
}
.filter-bulan .kiri ul li a{
	background: #fff;
	border: 0;
	color: #555;
	display: block;
	float: none;
	text-align: left;
}
.filter-bulan .kiri ul li a:hover{
	background: #ddd;
}

.filter a{
	/*float: left;*/
	text-decoration: none;
	padding: 5px 15px;
	color: #000;
	/*width: 25%;*/
	text-align: center;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
}
.filter ul li a{
	background: #fff;
	border: 0;
	color: #555;
	display: block;
	float: none;
	/*padding: 10px;*/
	text-align: left;
}
.filter ul li a:hover{
	background: #f0f0f0;
}

.cs{
	background: #fff;
	padding: 20px;
	margin-bottom: 10px;
	box-shadow: 0 .145rem .15rem 0 rgba(98,99,99,.2);
}
.cs h5, .cs span{
	/*font-weight: bold;*/
	color: #777;
}
.cs b{
	display: block;
	color: #555;
	margin-bottom: 5px;
}
.harga{
	display: block;
	text-align: right;
	font-weight: bold;
	font-size: 1.5em;
}
.harga span{
	font-size: 0.7em;
	display: block;
	font-weight: normal;
}
.radio-list{

}
.radio-list input{
    display: inline-block !important;
    width: 40px !important;
    margin-top: 2px !important;
    float: left;
    margin-left: -12px;
}
.radio-list label{
    width: 100px !important;
}
.radio-list label.control-label{
	width: 300px !important;
}
.radio-list input{
    display: inline-block !important;
    width: 40px !important;
    margin-top: 2px !important;
    float: left;
    margin-left: -12px;
}
.radio-list label{
    width: 100px !important;
}

.diag{
	width: 300px;
	height: 300px;
	color: #fff;
	background: #1bbd2f;
	border-radius: 50%;
	margin: 0 auto;
}
.diag-text{
	color: #fff;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
	font-size: 70px;
	font-weight: bold;
}